@font-face {
  font-family: foundOut;
  src: url(fonts/HelveticaNeueLTPro-Ex.otf);
}

.container-mobile {
  width: 414px;
  background-color:#0E0E0F;
  text-align: center;
  margin: auto;
  min-height: 100vh;
  padding: 0px 5px;
}

.logo {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;

}

body {
  margin: 0px;
  background-color: black;

 }
.fondmap{
	background-color: white;
	background-image:url(images/map.png);
	background-size:615px;
    background-position-x: center;
  position: relative;


}

.rondvert-one{
	 width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 background :#19BA93
	 ;
	 position: absolute;
	 top: 200px;
	 right: 130px;
}

.rondvert-two{
	 width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 background :#19BA93
	 ;
	 position: absolute;
	 top: 100px;
	 right: 100px;
}

.rondvert-three{
	 width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 background :#19BA93;
	 position: absolute;
	 top: 500px;
	 right: 170px;
}
.rondvert-four{
	width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 background :#19BA93;
	 position: absolute;
	 top: 340px;
	 right: 270px;
	
}

.rondvert-five{
	width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 background :#19BA93;
	 position: absolute;
	 top: 640px;
	 right: 270px;
	
}
.rondorange-one{
 width:25px;
 height:25px;
 border-radius:50%;
 background:#FF3000;
 position: absolute;
 top: 450px;
left: 340px;
}

.rondorange-two{
 width:25px;
 height:25px;
 border-radius:50%;
 background:#FF3000;
 position: absolute;
 top: 100px;
left: 70px;
}
.rondorange-three{
 width:25px;
 height:25px;
 border-radius:50%;
 background:#FF3000;
 position: absolute;
 top: 410px;
left: 110px;
}
.rondorange-four{
 width:25px;
 height:25px;
 border-radius:50%;
 background:#FF3000;
 position: absolute;
 top: 25px;
left: 180px;
}

.filter-img {
	width: 35px;
	position: absolute;
	right: 20px;
	top: 10px;
}
.cercle-logo {
	width: 100px;
	position: absolute;
	right: 60px;
	top: 520px;
}

.fleche-img {
	width: 40px;
	position: absolute;
	left:20px;
	bottom: 20px;
}

.itineraire-img {
	width: 149px;
	position: absolute;
	right: 139px;
	bottom: 150px;
}

.bulle-img {
	width: 220px;
	position: absolute;
	right: 191px;
	bottom: 350px;
}
.temps-img {
	width: 60px;
	position: absolute;
	left: 100px;
    bottom: 138px;

}

.fondmaptwo{

	background-color: white;
	background-image:url(images/maptwo.png);
	background-size:615px;
   	background-position-x: center;
	position: relative;
}

.fleche-one {
	width: 40px;
	position: absolute;
	left:20px;
	bottom: 20px;
}

.termine {
	width: 149px;
	position: absolute;
	right: 139px;
	bottom: 180px;
}
h1 {
	font-family: foundOut;
}
.last {
	background-image: url(images/last.png);
	background-size: cover;
	background-position: center;
}